# Google AdSense
NEXT_PUBLIC_ADSENSE_CLIENT_ID=ca-pub-XXXXXXXXXXXXXXXX
NEXT_PUBLIC_ADSENSE_LEADERBOARD_SLOT=1234567890
NEXT_PUBLIC_ADSENSE_ARTICLE_SLOT=1234567891
NEXT_PUBLIC_ADSENSE_BOTTOM_SLOT=1234567892
